This file is part of ${projectname} package
(see ${projecturl}).

Copyright(c) 2014-${years} Nicolas Bruyant & Nuno Prata 
and Centre National de la Recherche Scientifique
see AUTHORS.rst

Licensed under GPL-3.0-or-later - see LICENSE.rst